/* common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container flex */
.site_header, .flex_container_header, .section_bg, .image_content, .text_content, .download_open_bg, .row_menu_bar, .flex_container, .header_login, .header_logo, .footer_top, .footer_bottom, .footer_nav, .logo_footer, .sign_in_footer{
    display: flex;
    margin: auto;
    width: 80%;
}

/* column */
.col-5{
    width: calc((100% / 12) * 5);
    padding: 1rem;
}

.col-4{
    width: calc((100% / 12) *4);
}

/* HEADER */ 
.site_header{
    width: 100%;
    height: 80px;
}

.flex_container_header{
    width: 80%;
    margin: auto;
}

.header_logo{
    width: 15%;
}

.row_menu_bar{
    justify-content: space-between;
    width: 75%;
    margin: 0 1rem;
    align-self: center;
}

.header_login{
    width: 10%;
}

/* MAIN */
.download_open_bg, .section_bg{
    width: 100%;
}

.image_content{
    width: 60%;
}

.text_content{
    width: 40%;
}

/* FOOTER */
footer .footer_top .flex_container{
    width: 35%;
}

.footer_top{
    border-bottom: 0.1rem blue solid;
}

.logo_footer{
    margin-left: 0;
}

.sign_in_footer{
    margin-right: 0;
}


/* DEBUG */
.debug .site_header{
    background-color: red;
    border: 0.3rem dashed green;
}

.debug .site_header .flex_container_header{
    height: 100%;
    background: #ededed;
    border: 0.3rem dotted black;
}

.debug .header_logo{
    background: yellow;
    height: 3rem;
}

.debug .row_menu_bar{
    background: black;
    height: 3rem;
}

.debug .col-5{
    background-color: white;
    border: 2px solid black;
}

.debug .header_login{
    background-color: yellow;
    height: 3rem;
}

.debug .download_open_bg{
    height: 30rem;
    background: rgb(24, 97, 107);
    border: 0.3rem double yellow;
}

.debug main .download_open_bg .flex_container{
    background-color: red;
    height: 20rem;
    border: 0.3rem dotted black;
}

.debug .section_bg{
    height: 40rem;
    background: blue;
    border: 0.3rem dashed white;
}

.debug .image_content{
    height: 20rem;
    background: white;
    border: 0.2rem solid grey;
}

.debug .text_content{
    height: 20rem;
    background: yellow;
    border: 0.2rem dotted green;
}

.debug .section_bg .flex_container{
    height: 30rem;
    background: orange;
    border: 0.3rem solid black;
}

.debug footer{
    background: #706e6e;
}

.debug footer .footer_top{
    height: 20rem;
    background: purple;
}

.debug footer .footer_top .flex_container{
    height: 18rem;
    background: yellow;
    border: 0.3rem solid orange;
}

.debug footer .footer_top .footer_nav{
    height: 18rem;
    background: white;
    border: 0.3rem solid black;
}

.debug footer .footer_top .footer_nav .col-4{
    border: 0.1rem dotted blue;
}

.debug footer .footer_bottom{
    height: 4rem;
    background: green;
    border: 0.1rem dotted white;
}

.debug footer .footer_bottom .logo_footer{
    height: 2rem;
    width: 5rem;    
    background: #000000;
}

.debug footer .footer_bottom .sign_in_footer{
    height: 2rem;
    width: 5rem;    
    background: #000000;
}
